<!-- If user adds a link I want it to be clickable
     If user adds more than one line I want then to be separated by line not one long line -->
<% if flash.has?(:notice)%>
  <%= flash[:notice] %>
<% end %>
<ul>
  <li><%=@workout.date%>
    <li> <br>
      <h2>Target Area</h2>
      <li><%=@workout.target_area%></li>
      <br>
      <br>
      <h2>Activity</h2>
      <li><%=@workout.activity.gsub(URI.regexp,'<a href="\0">\0</a>').gsub(/\n/, '<br>' '<br>')%>
        <li> <br>
          <h2>Duration</h2>
          <li><%=@workout.duration%></li>
        </ul>
        <form action="/workouts/<%=@workout.id%>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="DELETE">
        </form>
        <a href="/workouts">HOME</a>
        <a href="/workouts/<%=@workout.id%>/edit">EDIT</a>
